.choice {
  padding: 4rem 0;
  max-width:  1930px;
  margin: 0 auto;

  @include sm-tablets {
    padding: 2rem 0;
  }

  @include sm-mobile {
    padding: 2rem 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 2rem;

    @include sm-mobile {
      padding: 0;
    }

    &:after {
      content: '';
      position: absolute;
      width: 55%;
      left: 0;
      top: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: 60px 0 0 60px;
      @include sm-tablets {
        width: 100%;
        border-radius: 30px;
      }
    }



    @include sm-tablets {
      flex-direction: column;
      gap: 25px;
    }

    &.reverse {
      flex-direction: row-reverse;
      @include sm-tablets {
        flex-direction: column;
        gap: 25px;
        padding: 0;
      }

      h2 {
        margin-left: 0;
        text-align: left;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 740px;
    padding: 3rem 0;
    z-index: 1;
    position: relative;


    @include xl-desktop {
      gap: 35px;
      padding: 0 25px;
      grid-template-columns: 1fr;
    }

    @include lg-desktop {
      min-width: auto;
    }
    @include md-desktop {
      gap: 15px;
      padding: 0 15px;
      font-size: $fontMedium;
    }
    @include sm-tablets {
      padding: 1rem;
    }

    li {
      max-width: 350px;
      @include xl-desktop {
      }
      @include lg-desktop {
        max-width: 500px;
      }

      p {
      }
    }
  }

  &__wrapper {
    width: 100%;
    z-index: 3;

    @include sm-tablets {
      min-height: 50vh;
      display: flex;
      flex-direction: column;
    }


    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: #00000030;
      border-radius: 30px;
      z-index: 1;
      display: none;
      @include xl-desktop {
        display: block;
      }
      @include sm-tablets {
        display: none;
      }

    }

    h2 {
      position: relative;
      z-index: 1;
      font-size: $fontBig;
      font-weight: $fwBold;
      max-width: 630px;
      margin-bottom: 3rem;

      @include md-desktop {
        font-size: $fontTitle;
      }

      @include sm-tablets {
        padding: 1rem;
        margin-bottom: 0;
        font-size: $fontSecondTitle;
        color: $black;
      }

      strong {
        display: block;
        text-transform: uppercase;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 55%;
      width: 45%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      border-radius: 0 60px 60px 0;
      @include sm-tablets {
        position: unset;
        width: 100%;
        border-radius: 0 0 30px 30px;
        order: 3;
      }
    }
  }
}