.footer {
  background-color: #FEF5E6;
  padding: 3rem 1rem;
  z-index: 10;

  @include sm-tablets {
    padding-bottom: 5rem;
  }

  @include sm-mobile {
    padding: .5rem .5rem 5rem;
  }

  @include sm-mobile-x {
    padding:  1rem 0 6rem;
  }

  &__container {
    background-color: $white;
    display: flex;
    gap: 50px;
    border-radius: 60px;
    padding: 1rem 3rem;
    @include xxl-desktop {
      flex-direction: column;
      max-width: none;
    }
    @include md-desktop {
      flex-direction: column;
      padding: 1rem;
    }
    @include sm-mobile {
      gap: 0;
    }
  }

  &__phone {
    font-size: $fontTitle;
    font-weight: $fwBold;
    border-bottom: 1px solid $primaryColor;
    line-height: 1;
    margin-bottom: .25rem;
    &-medium {
      font-size: $fontLarge;
      font-weight: $fwBold;
    }
  }

  &__mail {
    font-size: $fontSecondTitle;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    min-width: 340px;
    @include md-desktop {
      text-align: center;
      align-items: center;
    }

    @include sm-mobile {
      min-width: auto;
    }


    img {
      max-width: 250px;
      border-radius: 50%;

      @include md-desktop {
        margin: 0 auto 1rem;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include md-desktop {
      align-items: center;
    }
  }

  &__contacts {
    @include md-desktop {
      margin-bottom: 1rem;
    }
  }

  .nav {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 4rem;
    width: 100%;
    @include xl-desktop {
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;
    }


    @include md-desktop {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include sm-tablets {
      grid-template-columns: 1fr;
      gap: 30px;
      text-align: center;
    }
    &__double {
      display: flex;
      gap: 3rem;
      height: 100%;
      @include md-desktop {
        flex-direction: column;
        gap: 1rem;
      }
    }
    &__wrap {

      display: flex;
      flex-direction: column;

      h3 {
        font-size: $fontTitle;
        color: #333;
        border-bottom: 3px solid $primaryColor;
        margin-bottom: 1rem;
      }

      ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex: 1 0 auto;
        @include sm-tablets {
          align-items: center;
        }

        a {
          padding: .1rem 0;
          font-weight: $fwSmall;
        }
      }


    }
  }
  .bottom-menu {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 -3px 4px 0 #0000000A;
    padding: 10px 5px 0 5px;
    @include sm-tablets {
      display: flex;
      justify-content: space-between;
    }

    li  {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 19.3%;
     a {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
       text-align: center;
       padding-top: 5px;
       padding-bottom: 5px;
       border-radius: 20px 20px 0 0;
       font-size: 11px;
       gap: 5px;
       &.router-link-active {
         background-color: #f3f3f3;
       }
     }
    }

    img {
      width: 25px;
      height: 25px;
    }
  }
}

.cart {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  max-width: 70%;
  width: 100%;
  align-self: center;
  @include xl-desktop {
    max-width: 90%;
  }
  @include sm-mobile {
    max-width: 97%;
    padding: 5px 10px 10px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    @include md-desktop {
      flex-direction: column;
      gap: 1rem;
      div {
        gap: 1rem;
      }
    }
  }
  &__item {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 400px 1fr 1fr;
    gap: 1rem;
    @include md-desktop {
      grid-template-columns: 300px 1fr 1fr;
    }
    @include sm-tablets {
      grid-template-columns: 60% 1fr;
      gap: 5px;
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
    }
  }
}

.custom-input-number{
  width: 80px;
  text-align: center;
  @include sm-mobile {
    width: 60px;
  }
}