$black: #000;
$white: #fff;
$gray: #7A7A7A;
$pink: #F1EEF6;
$blue: #E5F3FB;

$primaryColor: #EBD300;
$primaryColorDark: #CFBC00;


$textColor: #000;
$grayColor: #989898;
$grayBg: #f3f3f3;


/////////////////////////////////////

$fontBig: 32px;

$fontTitle: 24px;
$fontTitleAbout: 28px;
$fontSecondTitle: 20px;

$fontLarge: 18px;
$fontDefault: 16px;
$fontMedium: 14px;
$fontSmall: 12px;

$fwSmall: 300;
$fwMedium: 400;
$fwBold: 600;
$fwExtraBold: 700;

