@import "font";
@import "variables";
@import "_mixins/media";
@import "global";
@import "header";
@import "footer";
@import "hero";
@import "connection";
@import "category";
@import "description";
@import "slider";
@import "gallery";
@import "productList";
@import "product";
@import "edge";
@import "choice";
@import "steps";
@import "colors";
@import "modal";
@import "home/services";
@import "home/quiz";
@import "home/cooperation";
@import "home/pay";
@import "home/advantages";
@import "feedback";
@import "about/about";
@import "about/control";
@import "about/suggestion";
@import "about/certificate";
@import "about/delivery";
@import "about/money";
@import "about/contacts";
@import "about/map";
@import "news";
@import "article";
@import "clients";
@import "reviews";
@import "opt";
@import "collections";
@import "collect";





